# Terraform
firebase/.terraform/

# Android
android/.gradle/
android/build/
android/app/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/keystore.properties
android/app/keystore/

# iOS
ios/Living.xcodeproj/project.xcworkspace/xcshareddata/
ios/Living.xcodeproj/xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Node
node_modules/
